doctype html
html
  head
    title="GearUp Car Data"
  body
    block content
        div
            h1 This is a test
        div(id="numberDisplay") Number should be here
    block userScripts
        script(src="./js/index/bundle.js")